body {
  background: #000;
}
main {
  display: grid;
  grid-template: 12em 1fr 1fr/1fr 3fr 1fr;
  grid-gap: 5px;
  grid-template-areas: "header header header" "left content right" "footer footer footer";
  justify-items: center;
}
header {
  grid-area: header;
  justify-items: center;
  align-items: center;
}
header h1 {
  font-family: 'Great Vibes', cursive;
  font-weight: normal;
  font-size: 5em;
  text-align: center;
  color: #ff0040;
}
section {
  grid-area: content;
  font-family: 'Merienda';
}
section .post {
  background-image: url("../assets/images/notebook_background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  padding: 2.7em;
}
section .post h1 {
  font-family: 'Merienda', cursive;
  color: #000;
  text-align: right;
}
section .post p {
  color: #000;
  text-align: justify;
}
section .post .content {
  margin-left: 8em;
}
