body {
  background: #ffe2ee;
}
header {
  color: #ff0040;
}
header h1 {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  color: #ff0040;
  height: 0.6em;
}
nav {
  background-color: #ffe2ee;
  color: #ff0040;
  margin-bottom: 1em;
  width: calc(500px + 2em);
  height: 2em;
  margin: 3em auto 1em auto;
}
nav a {
  color: #ff0040;
}
nav a:hover {
  color: #ff0040;
}
main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "left  content right";
  justify-items: center;
}
.panel {
  grid-area: panel;
}
.post {
  grid-area: content;
  font-family: 'Merienda';
}
article {
  position: relative;
  width: 500px;
  box-shadow: 0px 0px 10px 0px #888;
  background-image: repeating-linear-gradient(#fff 0px, #fff 19px, #4682b4 20px);
  padding-bottom: 1em;
}
article h1 {
  font-family: 'Merienda', cursive;
  text-align: right;
  margin: 1em 1em 0 0;
  font-size: 2.3em;
}
article p {
  margin: 2.1em 0.3em 0 3.3em;
  line-height: 20px;
  overflow: hidden;
  outline: none;
}
article .publication {
  display: inline;
}
article .publication .author {
  display: inline-block;
  margin-left: 3.3em;
}
article .publication .date {
  float: right;
}
article::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: #ffe2ee;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px 0px #888;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}
.comment-btn {
  float: right;
  margin: 1em;
}
.btn-outline-danger {
  color: #ff0040;
  border-color: #ff0040;
}
